<% if (!user) { %>
  <script defer src="https://accounts.google.com/gsi/client"></script>
<% } %>
<link rel="stylesheet" href="/stylesheets/nav.css">
</head>
<body>
  <nav id="main-nav">
    <% if (user) { %>
      <div class="prof-actions">
        <img
          id="profile-pic"
          height="40px"
          src="<%= user.profile.avatar %>"
          alt="<%= user.profile.name %> avatar"
        />
        <div id="prof-links">
          <a href="/auth/logout">Logout</a>
          <a href="">My Favorites<br/><span style="font-size:10px; text-align: center;">Coming soon!</span></a>
        </div>
      </div>
    <% } else { %>
      <div>
        <div 
          id="g_id_onload"
          data-client_id="<%= googleClientID %>"
          data-login_uri="/auth/google"
          data-auto_prompt="false"
        ></div>
        <div 
          class="g_id_signin right"
          data-type="icon"
          data-size="large"
          data-theme="outline"
          data-text="sign_in_with"
          data-shape="pill"
          data-logo_alignment="left"
        ></div>
        <div class="favText"><i class="fa-regular fa-hand-point-left"></i>  Login to save Favorites!</div>
      </div>
    <% } %>
    <div class="search-bar">
      <form action="/search" method="GET">
        <input placeholder="I'm shopping for..." type="text" name="searchTerms">
        <button id="search-button" type="submit">
          <span>🔍️</span>
        </button>
      </form>
    </div>
    <div>
      <% if (user?.role >= 200) { %>
        <form action="/products">
          <button class="emp" type="submit" formaction="/">Storefront</button>
          <button class="emp" type="submit">Edit Products</button>
        </form>
      <% } %>
      <a id="cart" href="/cart">
        <i id="cart-icon-1" class="fa-solid fa-cart-shopping fa-2x"></i>
        <i id="cart-icon-2" class="fa-solid fa-cart-arrow-down fa-2x"></i>
      </a>
    </div>
  </nav>
  <nav id="mobile-nav">
    <!-- Leaving this here for later. 
         need to attach .js to get mobile menus working -->
    <!-- <i id="mob-menu" class="fa-solid fa-bars"></i> -->
    <!-- <div id="slide-out-menu"> -->
      <% if (user) { %>
        <div class="prof-actions">
          <a href="/auth/logout">
            <img
              id="profile-pic"
              height="40px"
              src="<%= user.profile.avatar %>"
              alt="<%= user.profile.name %> avatar"
            />
          </a>
        </div>
      <% } else { %>
        <div>
          <div 
          id="g_id_onload"
          data-client_id="<%= googleClientID %>"
          data-login_uri="/auth/google"
          data-auto_prompt="false"
          ></div>
          <div 
          class="g_id_signin right"
          data-type="icon"
          data-size="large"
          data-theme="outline"
          data-text="sign_in_with"
          data-shape="pill"
          data-logo_alignment="left"
          ></div>
        </div>
      <% } %>
    <!-- </div> -->
    <form action="/search" method="GET">
      <input id="mob-search" placeholder="I'm shopping for..." type="text" name="searchTerms">
      <button id="mob-search-button" type="submit"></button>
    </form>
    <a id="cart" href="/cart">
      <i class="fa-solid fa-cart-shopping"></i>
    </a>
  </nav>