<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
<%- include('../partials/prod_comp_links')  %> 

<h1><%= title %> </h1>



<h3>Component Details</h3>
<section>
  <form class="new-details" action="/components/<%= component._id %>?_method=PUT" method="POST">
    <div>
      <label>Part Number: </label>
      <input value="<%= component.partNo %>" required autocomplete="off" name="partNo" type="text">
    </div>
    <div>
      <label>Name: </label>
      <input value="<%= component.name %>" required autocomplete="off" name="name" type="text">
    </div>
    <div>
      <label>Description: </label>
      <textarea cols="35" rows="5" required autocomplete="off" name="description" type="text"><%= component.description %></textarea>
    </div>
    <div>
      <label>Cost: </label>
      <input value="<%= component.cost %>" autocomplete="off" name="cost" type="text">
    </div>  
    <div>
      <label>Type: </label>
      <input value="<%= component.type %>" required autocomplete="off" name="type" type="text">
    </div>
    <div>
      <label>Vendor: </label>
      <input value="<%= component.vendor %>" autocomplete="off" name="vendor" type="text">
    </div>
    <div>
      <label>QTY: </label>
      <input value="<%= component.qty %>" autocomplete="off" name="qty" type="text">
    </div>
    <div id="new-details-check">
      <label>In Stock: </label>
      <input <%= component.available ? 'checked' : '' %> name="available" type="checkbox">
    </div>

    <button type="submit">
      Update <%= component.name %> 
    </button>
  </form>
</section>


</main>

<%- include('../partials/footer') %>