<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
<%- include('../partials/prod_comp_links')  %> 

<h1><%= title %> </h1>



<h3>Component Details</h3>
<section >
  <form class="new-details" action="/components" method="POST">
    <div>
      <label>Part Number: </label>
      <input required autocomplete="off" name="partNo" type="text">
    </div>
    <div>
      <label>Name: </label>
      <input required autocomplete="off" name="name" type="text">
    </div>
    <div>
      <label>Description: </label> 
      <textarea cols="35" rows="5" name="description" type="text"></textarea>
    </div>
    <div>
      <label>Cost: </label>
      <input autocomplete="off" name="cost" type="text">
    </div>
    <div>
      <label>Type: </label>
      <input required autocomplete="off" name="type" type="text">
    </div>
    <div>
      <label>Vendor: </label> 
      <input autocomplete="off" name="vendor" type="text">
    </div>
    <div>
      <label>QTY: </label>
      <input autocomplete="off" name="qty" type="text">
    </div>
    <div id="new-details-check">
      <label>In Stock: </label>
      <input name="available" type="checkbox">
    </div>

    <button type="submit">
      Add New Component
    </button>
  </form>
</section>


</main>

<%- include('../partials/footer') %>