<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<%- include('./partials/storeNav') %> 

<main class="product-listing">
  
  <% for( let i = 0; i < products.length; i++ ) { %>
    <section class = 'product'>
      <a href="/products/<%= products[i]._id %>">
        <img src="//unsplash.it/150/150">
        <p class="prod-name"><%= products[i].name %></p>
        <p class="prod-desc"><%= products[i].shortDesc %> </p>
      </a>
    </section>
  <% } %>
  
  <% for( let i = 0; i < components.length; i++ ) { %>
    <section class = 'product'>
      <a href="/components/<%= components[i]._id %>" >
        <img src="//unsplash.it/150/150">
        <p class="prod-name"><%= components[i].name %></p>
        <p class="prod-desc"><%= components[i].shortDesc %></p>
      </a>
    </section>
  <% } %>

  
</main>

<%- include('./partials/footer') %>