<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/cart.css"> 
<%- include('../partials/nav') %>

<%- include('../partials/storeNav') %> 

<main>
  <h1><%= title %></h1>
  <div class="main-container">
    <% if (cart.comps.length === 0 && cart.prods.length === 0) { %>
      <h2>Your cart is empty!</h2>
    <% } else { %>
      <table>
        <thead>
          <tr>
            <th>Items</th>
            <th>Category</th>
            <th class="center-align">QTY</th>
            <th>Price</th>
            <th>Total</th>
          </tr>
        </thead>
        <% let total = 0 %> 
        <tbody>
          <% for( let i = 0; i < cart.prods.length; i++ ) { %>
            <tr>
              <td><%= cart.prods[i].name %> </td>
              <td>Product</td>
              <td class="center-align"><%= cart.prodsQty[i] %></td>
              <td>$<%= cart.prods[i].price %></td>
              <% let subtotal = cart.prods[i].price * cart.prodsQty[i] %> 
              <td>$<%= subtotal %></td>
              <% total += subtotal %> 
            </tr>
          <% } %>
          <% for( let i = 0; i < cart.comps.length; i++ ) { %>
            <tr>
              <td><%= cart.comps[i].name %> </td>
              <td>Component</td>
              <td class="center-align"><%= cart.compsQty[i] %></td>
              <td>$<%= cart.comps[i].cost *2 %></td>
              <% let subtotal = (cart.comps[i].cost *2)* cart.compsQty[i] %> 
              <td>$<%= subtotal %> </td>
              <% total += subtotal %> 
            </tr>
          <% } %>
        </tbody>
      </table>
      <section id="checkout-area">
        <form action="/cart" method="POST">
          <span>
            <label for="subtotal">Subtotal</label>
            <div id="subtotal">$ <%= Math.round(total*100)/100 %></div>
          </span>
          <button type="submit" formaction="/cart?_method=DELETE">Clear Cart</button>
          <button type="submit">Checkout</button>
        </form>
      </section>
    <% } %>
  </div>
</main>

<%- include('../partials/footer') %>