<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <%- include('../partials/prod_comp_links')  %> 

<h1><%= title %> </h1>

<form id="edit-product-form" action="/products/<%= product._id %>?_method=PUT" method="POST"></form>
<form id="add-component-form" action="/" method="PUT"></form>

<section>
  <h4>Product Details</h4>
  <label>
    Name: 
    <input autocomplete="off" name="name" form="edit-product-form" type="text" value="<%= product.name %>">
  </label>
  <label>
    Price: 
    <input autocomplete="off" name="price" form="edit-product-form" type="text" value="<%= product.price %>">
  </label>
  <label>
    SKU: 
    <input autocomplete="off" name="sku" form="edit-product-form" type="text" value="<%= product.sku %>">
  </label>
  <label>
    In stock: 
    <input <%= product.available ? 'checked' : '' %> form="edit-product-form" type="checkbox" name="available">
  </label>

<%- include('../partials/component_selector.ejs')  %> 

<button type="submit" form="edit-product-form">
  Update Product
</button>
</section>


</main>

<%- include('../partials/footer') %>