<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <%- include('../partials/prod_comp_links')  %> 

<h1><%= title %> </h1>

<form 
  id="edit-product-form" 
  action="/products/<%= product._id %>?_method=PUT" 
  method="POST"
>
  <section>
    <h4>Product Details</h4>
    <label>
      Name: 
      <input autocomplete="off" name="name" type="text" value="<%= product.name %>">
    </label>
    <label>
      Price: 
      <input autocomplete="off" name="price" type="text" value="<%= product.price %>">
    </label>
    <label>
      SKU: 
      <input autocomplete="off" name="sku" type="text" value="<%= product.sku %>">
    </label>
    <label>
      In stock: 
      <input <%= product.available ? 'checked' : '' %> type="checkbox" name="available">
    </label>

    <h4>Components</h4>
    <% if (product.components.length) { %>
      <table>
        <thead>
          <tr>
            <th>Component</th>
            <th>QTY</th>
          </tr>
        </thead>
        <tbody>
          <% for( let i = 0; i < product.components.length; i++ ) { %>
            <tr>
              <td><%= product.components[i].name %></td>
              <td><%= product.compQty[i]%> </td>
            </tr>
          <% } %>
        </tbody>
      </table>
    <% } else { %>
      <h4>This product doesn't have any components</h4>
    <% } %> 
  </section>
  <section>
    <button type="submit" formaction="/products/<%= product._id %>?editComp=true&_method=PUT">
      Save and Add Components
    </button>
    <button type="submit">
      Save Product
    </button>
  </section>
</form>


</main>

<%- include('../partials/footer') %>