<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
<%- include('../partials/prod_comp_links')  %> 

<h1><%= title %> </h1>

<form id="new-product-form" action="/products/create" method="POST"></form>

<!-- The below is a stretch goal / future update -->
<!-- <form id="add-component-form" action="#" onsubmit="return addComponent(comp)" method="PUT"></form> -->

<section>
  <h4>Product Details</h4>
  <label>
    Name: 
    <input required autocomplete="off" name="name" form="new-product-form" type="text">
  </label>
  <label>
    Description: 
    <textarea autocomplete="off" name="description" form="new-product-form" type="text"></textarea>
  </label>
  <label>
    Price: 
    <input autocomplete="off" name="price" form="new-product-form" type="text">
  </label>
  <label>
    SKU: 
    <input autocomplete="off" name="sku" form="new-product-form" type="text">
  </label>
  <label>
    In stock: 
    <input type="checkbox" name="available">
  </label>
<!--
  <h4>Components</h4>
  <table>
    <thead>
      <tr>
        <th>Component</th>
        <th>QTY</th>
      </tr>
    </thead>
    <tbody id="compList">
      
    </tbody>
  </table>
  <select name="comp" form="add-component-form">
    <%# components.forEach(comp => { %>
      <option value="<%#= comp._id %>"><%#= comp.name %></option>
    <%# }) %>
  </select>


 <script>
  function addComponent(obj){
    alert(obj.value);
    const htmlToAdd = `
    <tr>
      <td>${obj}
    </tr>
    `;
    document.getElementById('compList').innerHTML += htmlToAdd;
  }
</script> -->
<button type="submit" form="new-product-form" formaction="/products/createAddComps">Save Product & add Components</button>
<button type="submit" form="new-product-form">
  Add New Product
</button>
</section>


</main>

<%- include('../partials/footer') %>