<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/prodShow.css">
<%- include('../partials/nav') %>
<%- include('../partials/storeNav') %> 

<main>
<h1><%= title %> </h1>
<div class="main-container">
  <section id="left-main">
    <section>
      <img src="//unsplash.it/300/300">
      <div>
        <p><span class="prodLabel">Part Number:</span> <%= product.sku %></p>
        <p><span class="prodLabel">Description:</span> <%= product.description %></p>
        <div><span class="prodLabel">Components:</span>
        <% if (product.components.length) { %>
          <table>
            <thead>
              <tr>
                <th>QTY</th>
                <th>Name</th>
              </tr>
            </thead>
            <tbody>
              <% for( let i = 0; i < product.components.length; i++ ) { %>
                <tr>
                  <td><%= product.compQty[i] %></td>
                  <td><a target="_blank" href="/components/<%= product.components[i]._id %>"><%= product.components[i].name %></a></td>
                </tr>
              <% } %>
            </tbody>
          </table>
        <% } else{%>
          <%= product.name %> Does not have any components. 
        <% } %> </div>
      </div>
    </section>

  </section>
  <section id="right-main">
    <div class="header">
      In Stock: <%= product.qty %> 
    </div>
    <form id="cart-form" action="/cart/<%= product._id %>?type=prod&_method=PUT" method="POST"></form>
      <label for="qty-to-buy">Enter Quantity: </label>
      <input 
        placeholder="<%= locals.err === 'qtyType' ? 'Please input a number' : '' %>"
        class="<%= locals.err ? 'red' : '' %>"
        autocomplete="off" 
        required 
        form="cart-form" 
        id="qty-to-buy" 
        name="prodsQty" 
        type="text">
      <% if (product.qty < 1 || !product.available) { %>
        <button disabled>Out of stock</button>       
      <% } else { %>
        <button form="cart-form" type="submit">Add to Cart</button>
      <% } %> 
      
  </section>
</div>
</main>

<%- include('../partials/footer') %>